---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Brodie, a product manager from Birmingham 🏈.
      <br />
      <br />
      My primary tools of choice include:
      <ul class="list-inside list-disc">
        <li>Figma</li>
        <li>Mixpanel</li>
        <li>Google Docs</li>
        <li>Flutterflow</li>
        <li>Cursor</li>
        <li>Astro</li>
        <li>Tailwind</li>
        <li>AI</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Beyond products, I'm passionate about sports (Roll tide!), finance, and being outdoors. I've recently taken up golf and am learning to code. 
    </p>
    <p class="text-sm font-light">P.S. I built this site!</p>
  </div>
</Card>
